.supersonic-navbar-mock {
    background-color: #00B5FF !important;
    text-align: center;
    font-weight: 600;
}

html, body, body > div, .container {
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

.center{
    text-align: center;
}

img {
    display: block;
}

::-webkit-scrollbar {
    display: compact;
}

.list {
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
}

.list.bottom {
    height: auto;
}

/*首页推广*/
.spread.row{
    max-height: 120px;
    height: 120px;
}

.spread .col-33{
    padding-left: 10px;
    padding-top: 10px;
}

.spread p.title{
    font-size: 18px;
    font-weight: bold;
    color: #f57141;
}

/*轮播*/
.carousel-images {
    height: 200px;
    position: relative;
}

.carousel-images .indicators {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}

.bgimage {
    background: no-repeat center center;
    background-size: 100% auto;
    max-height: 200px;
    height: 100%;
    width: 100%;
}

ul.carousel1.ng-scope {
    height: 200px;
}

span.rn-carousel-control.rn-carousel-control-prev:before, span.rn-carousel-control.rn-carousel-control-next:before {
    display: inline-block;
    font-family: "Ionicons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    content: "\f3cf";
    color: #666;
}

span.rn-carousel-control.rn-carousel-control-next:before {
    content: "\f3d1";
}

span.rn-carousel-control.rn-carousel-control-prev.ng-scope {
    -webkit-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out;
    font-size: 2rem;
    position: absolute;
    top: 60px;
    opacity: .75;
    cursor: pointer;
}

span.rn-carousel-control.rn-carousel-control-next.ng-scope {
    -webkit-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out;
    font-size: 2rem;
    position: absolute;
    top: 60px;
    opacity: .75;
    cursor: pointer;
}

div.rn-carousel-indicator span.ng-scope {
    font-size: 1.2em;
    color: #999;
}

/*个人*/
.userinfo{
    height: 150px;
}
.useravatar{
    margin: 30px 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
}
.userinfo h2{
    font-size: 21px;
    color: black;
    font-weight: bolder;
    display: inline;
    position: absolute;
    top: 55px;
}
.userinfo p{
    font-family: '华文细黑';
    font-size: 15px;
    color: #ff6633;
    display: inline;
    position: absolute;
    top: 80px;
}

.my-thing{
    height: 100px;
}
.my_col {
    border-right: 1px solid #ddd;
    position: relative;
    text-align: center;
}
.my_col:last-child {
    border: none;
}
.my_icon{
    margin:10px auto 5px;
    width: 30px;
}
.my_tip{
    font-family: '华文细黑';
    font-size: 12px;
    color: black;
    line-height: 25px;
}

a.contact{
    color: #666;
    font-size: 14px;
    margin-bottom: 2px;
}

/*登录*/
.login-top, .register-top{
    margin: auto 16px;
    border: 0px;
    border-bottom: 1px solid #AAAAAA;
}
.register-logo, .login-logo{
    max-width: 70px;
    margin:0px auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

.register-top input, .login-logo input{
    font-size: 1em;
}

.register-button, .login-button, .logout-button{
    margin: 20px auto;
    border: 1px solid #f57141;
    border-radius: 20px;
    color: #ffffff;
    background-color: #f57141;
    font-size: 140%;
}

.send-key{
    font-size: 90%;
    color: #1352e2;
    position: absolute;
    right: 0;
    top: 15px;
}

/*用户详情*/
.self-avatar{
    height: 100px;
    padding-left: 72px;
    min-height: 72px;
}
.self-avatar input{
    font-size: 1em;
    color: black;
}
.self-avatar>label>img{
    position: absolute;
    top: 16px;
    left: 16px;
    max-width: 70px;
    max-height: 70px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.self-input {
    font-size: 1.0em;
    padding-right: 0px;
    margin-top: 20px;
    text-align : right;
}
.self-avatar h2,.self-avatar p{
    padding: 10px 0px 0px 40px;
}

/*发现*/
#r-result,#r-result table{
    width: 100%;
}

#r-result{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    height: 300px;
    overflow-y: auto;
}

#r-cancel{
    position: absolute;
    right: 15px;
    bottom: 270px;
    display: none;
    font-size: 20px;
    height: 20px;
    width: 20px;
    z-index: 10;
}

.route{
    position: absolute;
    right: 20px;
    bottom: 20px;
    background-image: url(/images/route.png); ;
    background-size: 50px;
    height: 50px;
    width: 50px;
    background-color: #3385ff;
    border-radius: 25px;
}