<div ng-controller="ModifyPasswordController">
    <super-navbar>
        <super-navbar-title>修改密码</super-navbar-title>
    </super-navbar>
    <div class="register container">
        <div class="list">
            <div class="item register-top item-input">
                <span class="input-label">手机号</span>
                <input type="text" name="username" ng-model="username" disabled="disabled">
            </div>
            <div class="item register-top item-input">
                <span class="input-label">密码</span>
                <input type="password" name="password" ng-model="password">
            </div>
            <div class="item register-top item-input">
                <span class="input-label">重新输入密码</span>
                <input type="password" name="repassword" ng-model="repassword">
            </div>
            <div class="row">
                <button ng-click="save()" class="col-90 button logout-button">保存</button>
            </div>
        </div>
    </div>
</div>