<div ng-controller="ProductsController">
    <super-navbar>
        <super-navbar-title ng-bind="category.name"></super-navbar-title>
    </super-navbar>
    <div class="container">
        <p class="class-top-font bolder">{{total}}款商品</p>
        <div class="grid">
            <div class="list-content" in-view-container>
                <div class="item order-item" ng-click="toDetail(item.id)" ng-repeat="item in items track by item.id ">
                    <img ng-src="{{BaseUrl + item.cover_photo}}">
                    <p class="class-content-font bolder" ng-bind="::item.name"></p>
                    <p style="min-height: 21px;"><span class="class-content-price" ng-bind="'￥'+ item.price"></span><span class="bolder line-through-price" ng-if="item.discount.discount" ng-bind="'￥' + item.discount.discount"></span></p>
                </div>
            </div>
        </div>
        <div class="text-center padding" in-view="getItems($inview)" ng-show="loading"><i class="icon super-loading-c"></i> 正在努力加载中...</div>
    </div>
</div>